1. For selvedge tests, make sure to use bun for tests and also to run scripts
2. Don't write code unless I authorize you to.
3. For a given problem think and reason and come up with solutions thinking step by step like a principal engineer would